<app-dalam-site></app-dalam-site>
<div class="container"style="text-align:center; color:#bdbdbd;">
  <div style="font-size:150%;">
  <h1 style="font-size:350%;">Welcome</h1>
  <h2 style="font-size:200%;">Username!</h2>
  <br><br>
  <p>You have not put any products in your profile</p>
  </div>

  <div class="centered">

      <button class="panel panel-default col-md-offset-1 col-md-4 button forbuttononly"  style=""routerLink="/add-product">
        Input New Products
      </button>
      <div class="col-md-1 centered" style="text-align:center; font-size:150%;" >or</div>
      <button class="panel panel-default col-md-offset-1 col-md-4 button forbuttononly"  style=""routerLink="/list-product">
        Check out what we have
      </button>
  </div>
</div>