



<div style="height:100%; width:100%; background:url(https://www.irishtimes.com/polopoly_fs/1.3008745.1489425752!/image/image.jpg) 80% top no-repeat;position:absolute;left:0; top:0;">
  <div class="container">
      <div class="col-md-12" >
        <h1 style="color: rgba(255, 255, 255, 0.8); float:left;">Brand</h1>
      </div>


      <div  id="panelbutton" >
          <button class="panel panel-default col-md-offset-2 col-md-8 centered" style="margin-top: 50px; height:300px;background-color: rgba(255, 255, 255, 0.09);color: rgba(255, 255, 255, 0.8);font-size: 50px;" routerLink="form">
                <p class="panel-body centered"  style="">Login now<br>
                and<br>
                Experience it</p>
            </button>
          </div>
      
            <div class="col-md-offset-8 col-md-4" style="">
              <a style="color: rgba(255, 255, 255, 0.8)">or Sign Up Now!</a>
            </div>
      
  </div>
</div>